"staticfiles/" 
.env
.env.example
.env.local
venv22/

*.pyc
__pycache__/
db.sqlite3
*.log
.env

pycache/

*.pyd
*.pyo
*.pylintrc
.Python
env/
venv/

bin/
lib/
include/
build/
develop-eggs/
dist/
*.egg-info
venv22/
__pycache__/
*.pyc
*.pyo
*.sqlite3
*.log
staticfiles/
.env.local
demo.py